<h1>Marcas Cadastradas</h1>
<form>
  <input
    type="text"
    placeholder="Busque por uma marca"
    (input)="findByName($event)"
  />
</form>
<form [formGroup]="brandForm" (ngSubmit)="create()">
  <input
    type="text"
    formControlName="name"
    placeholder="Nome da Marca"
    required
  />
  <input type="submit" value="Cadastrar Marca" />
</form>

<ul *ngIf="brands.length > 0; else noBrands">
  <li *ngFor="let brand of brands">
    {{ brand.name }}
    <button (click)="delete(brand.id!)">Excluir</button>
  </li>
</ul>
<ng-template #noBrands>Não foi encontrado registros</ng-template>
